body {
    min-width: 400px;
    min-height: 300px;
    padding: 20px; /* Add padding */
    margin: 0;
    font-family: sans-serif;
}

/* Change width from 1800px (too wide) */
#input-el {
    border: 2px solid #5f9341;
    width: 550px;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

li{

	font-size:20px;
	margin-bottom:10px;


}
ul{
	list-style-type:none;	
}
li a{
	color:#5f9341;
}


button{

	padding:10px 30px;
	font-weight:bold;
	font-family:sans-serif;
	font-size:18px;

}
#input-btn{
	border:none;
	background-color:#5f9341;
	color:white;
}
#tab-btn{
	border:none;
	background-color:#5f9341;
	color:white;
}
#delete-btn{
	border:solid 2px #5f9341;
	background-color:white;
	color:#5f9341;
	
}


